PORT=5000
NODE_ENV=production
JWT_SECRET=service_desk_super_secret_jwt_key_2026

# MongoDB Atlas Database Connection
MONGODB_USERNAME=akashmedhara_db_user
MONGODB_PASSWORD=iTakYY27xvsocwIw
MONGODB_URI=mongodb+srv://akashmedhara_db_user:iTakYY27xvsocwIw@cluster0.a28b0zz.mongodb.net/servicedesk?retryWrites=true&w=majority

# SMTP Email Configuration
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=oemjmobqejmz2sxo@ethereal.email
SMTP_PASS=jrUzsK7tqvppbUPHgH
EMAIL_FROM="IT Service Desk" <support@servicedesk.local>
